extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
    .container
      a.navbar-brand(href='/store') X Store
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='/')
              | Admin
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='/store') Store
  .main
  .table-wapper
    a.btn.btn-primary.mb-2(href='./add') ADD
    table.table.table-striped.table-bordered
      thead
        tr
          th(scope='col') #
          th(scope='col') Name
          th(scope='col') Material
          th(scope='col') Color
          th(scope='col') Size
          th(scope='col') Gender
          th(scope='col') Image
          th(colspan= 3) Pirce
          th(scope='col') Edit
      tbody
        each item, index in listProduct
          tr
            th(scope='row')= index + 1 
            td= item.name
            td= item.material
            td= item.color
            td= item.size
            td= item.gender
            td
              img.img-product(src=item.image)
            td.momney(colspan= 3)= `${item.pirce} VNĐ`
            td
              a(href=`./edit/${item._id}`) Edit


